@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
    font-family: "awesome lathusca";
    src: url("/fonts/Awesome Lathusca.ttf");
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: #f9f0df;
    
}

