@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
    font-family: "awesome lathusca";
    src: url("/fonts/Awesome Lathusca.ttf");
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: #f9f0df;
    
}

.Layout::before {
    content:"" ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://raw.githubusercontent.com/MelladoDev/BookStore/2ff047e93a373ac0b329a69a22abdff932be0baa/src/assets/fondo.svg");
    background-repeat:repeat;
    background-size: contain;
    opacity: 0.1; /* Reduce la opacidad para que se vea más claro */
    z-index: -1; /* Mantiene el SVG en el fondo */
}

.sidebar {
    background-image: url("src/assets/sidebar_bg.svg");
    background-repeat: no-repeat; 
    background-size: cover;
    

}
.sidebar-top {
    background-image: url("src/assets/sidebar_bg_top.svg");
    background-repeat: no-repeat; 
    background-size: cover; 
}
