@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
    font-family: "awesome lathusca";
    src: url("/fonts/Awesome Lathusca.ttf");
    font-weight: normal;
    font-style: normal;
  }

body {
    background-color: #f9f0df;
    
}

.sidebar {
    background-image: url("src/assets/sidebar_bg.svg");
    background-repeat: no-repeat; 
    background-size: cover;
    

}
.sidebar-top {
    background-image: url("src/assets/sidebar_bg_top.svg");
    background-repeat: no-repeat; 
    background-size: cover; 
}
